* {
  box-sizing: border-box;
}

/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 275px;
}



/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  margin: 0 0 20px 0;
  color: #59699a; 
}

.content {
  text-align: center;
  display: table; 
  margin-bottom: 60px; 
  width: 900px;
}

.content h2 {
  font-size: 18px; 
  font-weight: 500; 
  color: #002e5b; 
  border-bottom: 1px solid #000000; 
  display: table; 
  padding-bottom: 10px; 
  margin-bottom: 10px;
}



/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/**********************************
FOOTER
***********************************/

#contact {
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 75px;
  height: 75px;
  margin: 0 5px;
}


/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}



/**********************************
PAGE: ABOUT
***********************************/

#about {
  margin: auto;
  width: 50%;
  border: none;
  padding: 50px 0px 50px 0px;
}


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* blue header */
header {
  background: #6a74b4;
  border-color: #595a9a;
}

/* nav background on mobile */
nav {
  background: #59699a;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6a96b4;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #325067;
}


/**********************************
Responsive 
***********************************/

